tr
	{mso-height-source:auto;
	mso-ruby-visibility:none;}
col
	{mso-width-source:auto;
	mso-ruby-visibility:none;}
br
	{mso-data-placement:same-cell;}
ruby
	{ruby-align:left;}
.style0
	{mso-number-format:General;
	text-align:general;
	vertical-align:middle;
	white-space:nowrap;
	mso-rotate:0;
	mso-background-source:auto;
	mso-pattern:auto;
	color:black;
	font-size:12.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:TimesNewRomanPSMT;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	border:none;
	mso-protection:locked visible;
	mso-style-name:一般;
	mso-style-id:0;}
.style67
	{color:#467886;
	font-size:12.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:underline;
	text-underline-style:single;
	font-family:TimesNewRomanPSMT;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	mso-style-name:超連結;
	mso-style-id:8;}
a:link
	{color:#467886;
	font-size:12.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:underline;
	text-underline-style:single;
	font-family:TimesNewRomanPSMT;
	mso-generic-font-family:auto;
	mso-font-charset:0;}
a:visited
	{color:#96607D;
	font-size:12.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:underline;
	text-underline-style:single;
	font-family:TimesNewRomanPSMT;
	mso-generic-font-family:auto;
	mso-font-charset:0;}
.font0
	{color:black;
	font-size:12.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:TimesNewRomanPSMT;
	mso-generic-font-family:auto;
	mso-font-charset:0;}
td
	{mso-style-parent:style0;
	padding:0px;
	mso-ignore:padding;
	color:black;
	font-size:12.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:TimesNewRomanPSMT;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:general;
	vertical-align:middle;
	border:none;
	mso-background-source:auto;
	mso-pattern:auto;
	mso-protection:locked visible;
	white-space:nowrap;
	mso-rotate:0;}
.xl65
	{mso-style-parent:style0;
	font-family:Arial;
	mso-generic-font-family:auto;
	mso-font-charset:0;}
.xl66
	{mso-style-parent:style0;
	font-size:10.0pt;
	font-family:Arial;
	mso-generic-font-family:auto;
	mso-font-charset:0;}
.xl67
	{mso-style-parent:style0;
	font-family:Arial;
	mso-generic-font-family:auto;
	mso-font-charset:0;
	mso-number-format:Standard;}
.xl68
	{mso-style-parent:style67;
	color:#467886;
	text-decoration:underline;
	text-underline-style:single;}
.xl69
	{mso-style-parent:style0;
	font-size:14.0pt;
	font-weight:700;
	font-family:微軟正黑體;
	mso-generic-font-family:auto;
	mso-font-charset:136;
	text-align:center;
	border-top:.5pt solid windowtext;
	border-right:none;
	border-bottom:.5pt solid windowtext;
	border-left:.5pt solid windowtext;
	background:#FFF2CC;
	mso-pattern:black none;}
.xl70
	{mso-style-parent:style0;
	font-size:14.0pt;
	font-family:微軟正黑體;
	mso-generic-font-family:auto;
	mso-font-charset:136;}
.xl71
	{mso-style-parent:style0;
	font-size:28.0pt;
	font-weight:700;
	font-family:微軟正黑體;
	mso-generic-font-family:auto;
	mso-font-charset:136;
	text-align:center;
	border-top:.5pt solid windowtext;
	border-right:.5pt solid windowtext;
	border-bottom:none;
	border-left:.5pt solid windowtext;
	background:#FFF2CC;
	mso-pattern:black none;}
.xl72
	{mso-style-parent:style0;
	font-size:14.0pt;
	font-family:微軟正黑體;
	mso-generic-font-family:auto;
	mso-font-charset:136;
	text-align:center;
	border-top:.5pt solid windowtext;
	border-right:none;
	border-bottom:.5pt solid windowtext;
	border-left:none;
	background:#FFF2CC;
	mso-pattern:black none;}
.xl73
	{mso-style-parent:style0;
	font-size:14.0pt;
	font-family:微軟正黑體;
	mso-generic-font-family:auto;
	mso-font-charset:136;
	text-align:center;
	border-top:.5pt solid windowtext;
	border-right:.5pt solid windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:none;
	background:#FFF2CC;
	mso-pattern:black none;}
.xl74
	{mso-style-parent:style0;
	font-size:14.0pt;
	font-family:微軟正黑體;
	mso-generic-font-family:auto;
	mso-font-charset:136;
	text-align:center;
	border:.5pt solid windowtext;
	background:#FFF2CC;
	mso-pattern:black none;}
.xl75
	{mso-style-parent:style0;
	font-size:14.0pt;
	font-family:微軟正黑體;
	mso-generic-font-family:auto;
	mso-font-charset:136;
	text-align:center;
	border-top:none;
	border-right:.5pt solid windowtext;
	border-bottom:.5pt solid windowtext;
	border-left:.5pt solid windowtext;
	background:#FFF2CC;
	mso-pattern:black none;}
.xl76
	{mso-style-parent:style0;
	font-size:14.0pt;
	font-family:微軟正黑體;
	mso-generic-font-family:auto;
	mso-font-charset:136;
	text-align:center;
	border-top:.5pt solid windowtext;
	border-right:none;
	border-bottom:.5pt solid windowtext;
	border-left:.5pt solid windowtext;
	background:#FFF2CC;
	mso-pattern:black none;}
.xl77
	{mso-style-parent:style0;
	font-size:14.0pt;
	font-family:微軟正黑體;
	mso-generic-font-family:auto;
	mso-font-charset:136;
	mso-number-format:"Short Date";
	text-align:center;
	border:.5pt solid windowtext;
	background:#FFF2CC;
	mso-pattern:black none;}
.xl78
	{mso-style-parent:style0;
	font-size:14.0pt;
	font-weight:700;
	font-family:微軟正黑體;
	mso-generic-font-family:auto;
	mso-font-charset:136;
	background:#E8F0FE;
	mso-pattern:black none;}
.xl79
	{mso-style-parent:style0;
	font-size:14.0pt;
	font-family:微軟正黑體;
	mso-generic-font-family:auto;
	mso-font-charset:136;
	text-align:center;}
.xl80
	{mso-style-parent:style0;
	font-size:14.0pt;
	font-family:微軟正黑體;
	mso-generic-font-family:auto;
	mso-font-charset:136;
	background:#F8F9FA;
	mso-pattern:black none;}
.xl81
	{mso-style-parent:style0;
	font-size:14.0pt;
	font-family:微軟正黑體;
	mso-generic-font-family:auto;
	mso-font-charset:136;
	text-align:center;
	background:#F8F9FA;
	mso-pattern:black none;}
.xl82
	{mso-style-parent:style0;
	color:#1A73E8;
	font-size:16.0pt;
	font-weight:700;
	font-family:微軟正黑體;
	mso-generic-font-family:auto;
	mso-font-charset:136;}
.xl83
	{mso-style-parent:style0;
	font-size:15.0pt;
	font-family:微軟正黑體;
	mso-generic-font-family:auto;
	mso-font-charset:136;}
.xl84
	{mso-style-parent:style0;
	font-size:14.0pt;
	font-weight:700;
	font-family:微軟正黑體;
	mso-generic-font-family:auto;
	mso-font-charset:136;
	text-align:center;
	background:#FFF3CC;
	mso-pattern:black none;}
.xl85
	{mso-style-parent:style67;
	color:#467886;
	font-size:16.0pt;
	text-decoration:underline;
	text-underline-style:single;}
.xl86
	{mso-style-parent:style0;
	font-size:16.0pt;
	font-family:微軟正黑體;
	mso-generic-font-family:auto;
	mso-font-charset:136;}
